flash-copy/build/
flash-copy/code/
flash-copy/output/
rboot-host/build/
rboot-host/output/
rboot-main/build/board.o
rboot-main/output/
rboot-main/build/rboot-main.sym
rboot-main/build/
rboot-client/build/
rboot-client/.settings/
flash-update/build/
flash-update/output/flash_update-core.bin
rboot-client/output/rboot-client.bin
rboot-host/.settings/language.settings.xml
rboot-main/.settings/language.settings.xml
